#left_sidebar
  .content
    -if !@user.nil?
      %h2 Admin Control Panel
      .navlink= link_to "Logout", logout_path
      %br
    %h2 Navigation
    .navlink= link_to "Return to Lesson", lesson_path(@lesson_id)
    .navlink= link_to "Return to Resource Center Home", root_path
    %br
