#wrapper
   = render :partial => "shared/head"
   #main
      .content
         %h1 Welcome to the FSD Training Center
         %p FSD reduces global poverty by providing over 300 grassroots community organizations around the world with training and key resources to address pressing socioeconomic issues.
         %p The FSD Training Center is an online e-learning center that provides pre-departure training online for students across the United States. Documents, presentations, and videos are organized by lesson to create a classroom-like experience.
         %hr
         %h2 Lessons
         %p There currently no lessons available. Please check back later.
   #right_sidebar
      .content
         %h2 admin login
         %p Login under construction
         %hr
         %h2 facebook
         %p
            Stay updated with our
            = link_to 'Facebook page', 'https://www.facebook.com/foundation.for.sustainable.development'
         %hr
         %h2 twitter
         %p
            Follow our tweets on our
            = link_to 'Twitter account', 'http://www.twitter.com/infoFSD'
   .clear

   = render :partial => "shared/footer"
