/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
margin: 0;
padding: 10px 0.2em 10px 0.2em;
color: #000;
background: url('/assets/bg.gif');
font-family: Arial,Helvetica,sans-serif;
font-size: 13px;
}

#wrapper {
background: #fff none repeat scroll 0 0;
border: 0px solid #FFFFFF;
margin: auto;
padding: 0;
width: 982px;
}

#wrapper #comingsoon {
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 200px;
}

#wrapper #sm_buttons {
width: 236px;
margin-left: auto;
margin-right: auto;
padding-bottom: 20px;
}

.content a {
color: #000;
text-decoration: none;
}

#main {
float:left;
width: 750px;
}

.content{
color: #000;
padding: 5px;
}

.content h1{
color: #746859;
font-size: 18px;
}

.content h2{
color: #746859;
font-size: 14px;
}

.content h3{
color: #746859;
font-size: 12px;
}

#main hr{
border: 0;
height: 2px;
background-color: #746859;
}

#right_sidebar hr{
border: 0;
height: 1px;
width: 90%;
background-color: #746859;
}

#right_sidebar {
float:right;
margin-top: 10px;
width: 200px;
}

.clear {
clear: both;
}

#header {
background-color:#746859;
}

#footer {
color: #3F3831;
background-color: #D4D3C9;
}

#footer .float {
float: left;
width: 310px;
padding: 5px;
}