/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require_tree . 
*/

body {
margin: 0;
padding: 10px 0.2em 10px 0.2em;
color: #000;
background: url('/assets/bg.gif');
font-family: Arial,Helvetica,sans-serif;
font-size: 13px;
}

#wrapper {
background: #fff none repeat scroll 0 0;
border: 0px solid #FFFFFF;
margin: auto;
padding: 0;
width: 982px;
}


.content a {
color: #000;
text-decoration: none;
}

#main {
float:right;
width: 720px;
margin-left: 5px;
}

.content{
color: #000;
padding: 5px;
}

.content h1{
color: #000;
padding-left: 5px;
font-size: 22px;
font-weight:bold;
}

.content h2{
color: #746859;
font-size: 14px;
}

.content h3{
color: #746859;
font-size: 12px;
}

#main hr{
border: 0;
height: 2px;
background-color: #746859;
}

#left_sidebar hr{
border: 0;
height: 1px;
width: 90%;
background-color: #746859;
}

#left_sidebar {
padding-left: 5px;
margin-right: 2px;
margin-bottom: 20px;
float:left;
width: 230px;
height: 100%;
background-color: #d4d3c9;
color: #3c2918;
}

#left_sidebar h2 {
color: #3c2918;
}

.clear {
clear: both;
}

.right {
float: right;
}

#header {
background-color:#746859;
}

#footer {
color: #3F3831;
background-color: #D4D3C9;
}

#footer .float {
float: left;
width: 310px;
padding: 5px;
}

#lesson_title{
height:1.5em;
}

#lesson_description, #lesson_title {
width: 30em;
}

#lesson_description {
float: top;
height: 7em;
}

.title {
font-size: 20px;
padding: 10px;
color: #fff;
font-weight: bold;
background-color: #746859;
text-align:left;
width:690px;
}

.title_small {
font-size: 14px;
padding: 7px;
color: #fff;
font-weight: bold;
background-color: #756859;
}

#notice, #flash {
font-size: 14px;
padding: 6px;
margin: 5px;
color: #A81F24;
background-color: #F2EEDA;
border: 2px solid #C2AD99;
}

.content img {
display: block;
margin-left: auto;
margin-right: auto;
}

.lessons {
font-size: 16px;
border: 1px solid #000;
border-left: 10px solid #E37126;
padding: 5px;
margin-top: 5px;
margin-bottom: 5px;
}

#documents, #prezis, #videos, #comments {
padding: 5px;
margin: 5px;
}

#documents {
border-left: 8px solid #466193;
}

#prezis {
border-left: 8px solid #F0C020;
}

#videos {
border-left: 8px solid #A81F24;
}

.bold a {
font-weight:bold;
}

#documents iframe {
  height: 400px;
  width: 690px;  

  margin-left: 5px;
  margin-top: 10px;
  margin-bottom: 10px;

  -moz-border-radius: 12px;
  -webkit-border-radius: 12px; 
  border-radius: 12px; 
}

#comment {
border: 1px solid #746859;
padding: 5px;
margin-bottom: 5px;
}

#comment hr{
border: 0;
height: 1px;
width: 99%;
background-color: #746859;
}

#comment h2{
margin-bottom:0px;
}

#comment_title, #comment_editor {
width: 300px;
margin-bottom: 5px;
}

#comment_body {
width: 650px;
height: 100px;
}

.fb-like-box {
background-color: #f2eeda;
}

.navlink, .navlink_highlighted {
height: 30px;
line-height: 30px;
border-bottom: 1px solid #3c2918;
margin-right: 5px;
padding: 5px;
}

.navlink_highlighted {
background-color: #3C2918;
}

.navlink_highlighted a {
color: #fff;
}